^{:watch-dirs ["src"]}
{:output-dir "resources/public/out"
 :asset-path "out"
 :modules    {:example
              {:entries   #{uix.example}
               :output-to "resources/public/out/example.js"}
              :components
              {:entries   #{uix.components}
               :output-to "resources/public/out/components.js"}}}
