{:deps {cljs-bean/cljs-bean {:mvn/version "1.8.0"}}
 :paths ["src"]
 :aliases {:dev {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}}
           :benchmark {:extra-paths ["benchmark"]
                       :extra-deps {reagent/reagent {:mvn/version "1.1.0"}
                                    criterium/criterium {:mvn/version "0.4.5"}
                                    enlive/enlive {:mvn/version "1.1.6"}
                                    hiccup/hiccup {:mvn/version "1.0.5"}
                                    rum/rum {:mvn/version "0.11.2"}}}
           :test {:extra-paths ["test"]
                  :extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}
                               org.clojure/clojurescript {:mvn/version "1.10.879"}
                               thheller/shadow-cljs {:mvn/version "2.15.5"}
                               uix.dom/uix.dom {:local/root "../dom"}
                               cljsjs/react-dom-server {:mvn/version "16.13.1-0"}
                               clj-diffmatchpatch/clj-diffmatchpatch {:mvn/version "0.0.9.3"}}}
           :release {:extra-deps {appliedscience/deps-library {:mvn/version "0.3.4"}}
                     :main-opts ["-m" "deps-library.release"]}}}
