{:deps true
 :builds
 {:test {:target :browser
         :output-dir "out"
         :modules {:main {:entries [uix.test-runner]}}
         :release {:compiler-options {:infer-externs true
                                      :closure-defines {goog.DEBUG false}}}}
  :benchmark {:target :browser
              :output-dir "out"
              :modules {:main {:entries [uix.benchmark]}}
              :release {:compiler-options {:infer-externs true
                                           :closure-defines {goog.DEBUG false}}}}
  :linter-test {:target :browser
                :output-dir "out"
                :modules {:main {:entries [uix.linter-test]}}}}}
